<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>
	<body>
		<%- include('./partials/header') %>
		<div class="container">
			<form action="" method="post">
				<% if (typeof user.membership_status !== 'undefined' && user.membership_status === true) {
				%>
				<p>You are already a member!</p>
				<% } else if (user.membership_status === false){ %>
				<div class="mb-3">
					<label for="memberpassword" class="form-label">Enter password to become a member</label>
					<input
						type="text"
						class="form-control"
						type="password"
						name="memberpassword"
						id="memberpassword"
					/>
				</div>
				<% } %> <% if (typeof user.admin !== 'undefined' && user.admin === true) { %>
				<p>You are already an admin!</p>
				<% } else if (user.membership_status === false){ %>
				<div class="mb-3">
					<label for="adminpassword" class="form-label">Enter password to become an admin</label>
					<input
						type="text"
						class="form-control"
						type="password"
						name="adminpassword"
						id="adminpassword"
					/>
				</div>
				<% } %>
				<button class="btn btn-primary">Submit</button>
			</form>
		</div>
	</body>
</html>
